<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Добрый день, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Выход</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Зарегестрироваться</a>
        <a href="Identity/Account/Login">Войти</a>
    </NotAuthorized>
</AuthorizeView>
