@page "/group/{group_id:int}"

@using SqlDataAccessLibrary.Data
@using SqlDataAccessLibrary.Models

@inject IGroupData _group;

<h3>Группа @group_id</h3>

@if (group == null)
{
    <div class="loading-spinner"></div>
}
else
{    
    <h4>@group[0].Id</h4>
}


@code {
    [Parameter]
    public int group_id { get; set; }

    private List<GroupModel>? group;

    protected override async Task OnInitializedAsync()
    {
        group = await _group.GetGroupsById(group_id);
    }
}
