@page "/groups"


@using SqlDataAccessLibrary.Data
@using SqlDataAccessLibrary.Models

@inject ISubdivisionData _subdivisions;
@inject IEmployeeData _employees;

@if (subdivisions == null )
{
    <p><el>Загрузка...</el></p>
}
else
{
    <div class="div1">
        <div class="div2" style="max-width: 272px;">
            <MatSelect Label="Подразделение" ValueChanged="(int i) => OnChangeValue(i)" Value="@subdivisionId">
                @foreach(var subdivision in subdivisions)
                {
                    <MatOption TValue="int" Value="@subdivision.Код">@subdivision.Имя</MatOption>
                }
            </MatSelect>
            <MatTable Items="employees" AllowSelection="true" ShowPaging="false">
                <MatTableHeader>
                    <th>ФИО</th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.ФИО</td>
                </MatTableRow>
            </MatTable>
        </div>
    </div>
}

        
@code
{
    int subdivisionId = 2;
    
    private List<SubdivisionModel>? subdivisions;
    private List<EmployeeModel>? employees;

    protected override async Task OnInitializedAsync()
    {
        subdivisions = await _subdivisions.GetAllSubdivisions();
        employees = await _employees.GetEmployeeByCodeSubdivision(subdivisionId);
    }

    public async void OnChangeValue(int i)
    {
        subdivisionId = i;
        employees?.Clear();
        employees = await _employees.GetEmployeeByCodeSubdivision(subdivisionId);
        StateHasChanged();
    }
}  