@page "/students"

@using SqlDataAccessLibrary

@inject IStudentsData _db;

<h3>Учащиеся</h3>
@if (student == null)
{
    <p><el>Загрузка...</el></p>
}
else
{
<MatTable Items="@student" AllowSelection="true" PageRecordCountLabel="Записей на странице" PageLabel="Страница" class="mat-elevation-z5" >
        <MatTableHeader>
            <th>Код</th>
            <th>ФИО</th>
            <th>Дата рождения</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Код</td>
            <td>@context.ФИО</td>
            <td>@context.Дата_рождения</td>
        </MatTableRow>
    </MatTable>
}     
        
@code
{

    private List<StudentsModel>? student;

    protected override async Task OnInitializedAsync()
    {
        student = await _db.GetAllStudents();
    }
}  